# Core dependencies
markdown==3.6
pymdown-extensions==10.7.1
pytest==8.1.1

# Graphics and Math dependencies
matplotlib==3.8.4
numpy==1.26.4
scipy==1.13.0

# Symbolic mathematics (precisión exacta)
sympy==1.12
